In [2]:
# interview question
# What is deep copy and shallow copy?
# what is the use of append?
# what is the use of pop?
# uniq things about - set tuple , dectionory
#why fucntion is needed -> resueablity,modularity,readablity
# diff between *args and **args
#how function works

In [4]:
# Agenda -> Functions,iterator,genarator

In [6]:
#inbuilt function -> print() type(), len(), count(),
# inbuilt function allows you to have an optimised code

In [8]:
a = [1,2,3,4,5,1]
count = 0
for i in a:
    if i == 1:
        count = count+1
print(count)

2

In [10]:
b= [1,1,1,1,1,3,4,5]
b.count(1)

5

In [12]:
#Abstraction -> hiding the details // just use the interface/function name
#Decomposition -> doing multiple things together to do the same task>> modularity (avoiding redundancy)

In [14]:
#two type of function -> inbuilt , user_defined function
#syntax for function
# def funtion_name():
#return

In [17]:

def greet(self):
    print(f"Welcome to class {self} ")

# def greet(): // here greet() is accepting the argument so we need to tell here as well
    # that we are sending something // u can write anything but i wrote self one word means one arg
#     print(f"Welcome to class {name} ")

In [19]:

greet("Raj")

Welcome to class Raj

In [21]:
"Welcome to the class"+" Tusar"

'Welcome to the class Tusar'

In [23]:
greet("Tusar") + "of python"

Welcome to class Tusar

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
type(greet(name))

In [ ]:
# 4 imp part of function
# def keyword
# a func name
#argument
#return statement

In [27]:
def func():
    return "this is class",2,4,3+5j,True

In [29]:
func()

('this is class', 2, 4, (3+5j), True)

In [31]:
a=func() # one way to store

In [33]:
a

('this is class', 2, 4, (3+5j), True)

In [35]:
a,b,c,d,e = func() # second way to store

In [37]:
a

'this is class'

In [39]:
#third way to store the return value of a function using unpacking of 
#tuple
a,b,*c = func()

In [41]:
a

'this is class'

In [43]:
b

2

In [45]:
c

[4, (3+5j), True]

In [47]:
greet("Piyush")

Welcome to class Piyush

In [49]:
#argument is of three type
#default argument
#positional argument
#variable length  >> *args,*kwargs
#keyword argument

In [51]:

# write a function to add two number

In [55]:
#positional argument
# sum(2,4) #by default, first arg becomes first position that is a, and second becomes b

In [57]:
# sum("Career","Craft") #this proves the position of argument

In [59]:
# sum(b="carrier",a="craft") #this is keyword argumnt

In [61]:
#dafault argument
def addition(a,b,c=0):
    return a+b+c

In [63]:
addition(5,10,5)

20

In [65]:
addition(5,5) # we are providing 2 args only // third one default

10

In [67]:
def add_two_nos():
    a = int(input("Enter the First no: "))
    b = int(input("Enter the Second no: "))
    return f"The addition is {a+b}"

In [69]:
# add_two_nos()

In [71]:
def check_even(num):
    if type(num) == int:
        if num%2==0:
            return f"{num} is a even digit"
        else: return f"{num} is an odd digit"
    else:
        return "Its not integer"

In [73]:
check_even(100)

'100 is a even digit'

In [75]:
#calling a function in a loop
for i in range(1,11):
    res = check_even(i)
    print(res)

1 is an odd digit
2 is a even digit
3 is an odd digit
4 is a even digit
5 is an odd digit
6 is a even digit
7 is an odd digit
8 is a even digit
9 is an odd digit
10 is a even digit

In [77]:
#write a function that takes list as input and return all numeric values
#input >> [1,2,3,4,5]
def listfunc():
    a = input("Enter comma-separated values: ").split(',')
    for i in a:
        i = i.strip()  # Remove spaces
        if i.replace('.', '', 1).isdigit():  # Check if int or float
            if '.' in i:
                print(float(i))
            else:
                print(int(i))

listfunc()

Enter comma-separated values:  1,3,4

1
3
4

In [79]:
# [item.strip() for item in a]
# This is called a list comprehension in Python. It's a shortcut for writing a for loop.

In [81]:
def addition(a,b): # only two arguments will be there > its fixed
    return a+b

In [83]:
addition(5,4)

9

In [85]:
addition(4,5,6,7)

TypeError: addition() takes 2 positional arguments but 4 were given

In [87]:
# to pass as many no if argument you want
def addition(*args):
    return args

In [89]:
addition(1,2,3,4,5,6,True,"Abra ka Dabra")

(1, 2, 3, 4, 5, 6, True, 'Abra ka Dabra')

In [91]:
def addition(*args):
    summ=0
    for i in args:
        summ = summ+i
    return summ

In [93]:
addition(1,2,3,4,5)

15

In [95]:
def addition(*args):
    
    return sum(args) # its working

In [97]:
print(addition(1,2,3,3,4,4,5))

22

In [99]:
# args is not a pythonic keyword
def addition(*arp):
    
    return sum(arp) # its working

In [101]:
addition(4,5,6,3,3,4)

25

In [103]:
# write a function which accepts any number of numbers and returns the
#product

def var_product(*args):
    num = 1
    for i in args:
        num = num*i
    return f"The Product is {num}"

In [105]:
var_product(2,2,2,2,2,2,2,2)

'The Product is 256'

In [107]:
## passing asgument in a maping in key-value pair

# **kwargs >> key word argument
# argument are treated as key value pair

In [109]:
def kwargs_func(**kwargs): # argument are treated as dictionary
    return kwargs

In [111]:
kwargs_func(a=2,b=3,c=[1,2,3,4,5],d=["arpit","raj",124,True,5+9j])

{'a': 2,
 'b': 3,
 'c': [1, 2, 3, 4, 5],
 'd': ['arpit', 'raj', 124, True, (5+9j)]}

In [113]:
#write a function that takes variable key word and return only the 
#value which is a list
# items() is a method of a dictionary.
# It returns a list of (key, value) pairs.
# isinstance(value, list)
# This is used to check the type of a variable.

def fig_list(**kwargs):
    for key, value in kwargs.items():  # Loop through each key-value in the dict
        if isinstance(value, list):    # Check if the value is a list
            print(value)               # If yes, print it

fig_list(a=2, b=3, c=[1, 2, 3, 4, 5], d=["arpit", "raj", 124, True, 5+9j])

[1, 2, 3, 4, 5]
['arpit', 'raj', 124, True, (5+9j)]

In [115]:
#Both args and keyword arguments together

In [117]:
def func(*args,**kwargs):
    return args, kwargs

In [119]:
# key point
#order of args and kwargs matters
#instead of args and kwargs you can use anything

In [121]:
#How function are stored and executed in the memory??
#First class citizen in programming >> basic datatype like int,float 
#is called first class
#in other programing language only datatypes are first class citizen
#but in python function are also stored as first class citizen
# function is acting as a dataype
a=3
type(a)

int

In [123]:
id(a) # gives a memory block where it is stored

4374224720

In [125]:
type(func)

function

In [127]:
id(func)

5452428320

In [129]:
a=func # we have re-assigned the memory block of func to a
type(a)

function

In [131]:
#how function is executed...
#>> function is stored is RAM and assume it has three parts >> call stack, 
#heap memory, execution context
#when a function is defined,it is stored in the memory block>> verify using id(funtion name),
#and fn name serves as refrence to a memory location

#FUNCTION CALL WORKING  IN THE FOLLOWING WAY:
#when a function is created, the object is created and once you execute the code
# python sees def, the object is intialised and it directly goes to the line where function is called.
#(visualise it using python tutor) after that it enters the function
#do the computation and at last it returns the result.

#HOW FUNCTION CALLING WORKING
#when a function is called, a memory/resource is allocated for the execution >> it happens within the call stack
#which manages function calls and their execution context
# >> when a fucntion is invoked >> an execution context is created
# execution context has three things >> variable and arguments, scope chain >> links the global varibale with local varibale
# and instruction pointer which keeps tracks of the execution of next line of the function


# the execution context is sent back to call stack with all the variable, and function is executed in LIFO 
#execution will happen

#ROLE OF HEAP MEMORY >> is the function allocates the dynamic memory, then data is stored in the heap memory which is automatically
#managed by garbage collection in python

In [133]:
#python namespace >> local variable and global varibale
# A namespace is like a labelled box where names (like variable names, function names, etc.) are stored with their values.
# Python uses namespaces to keep track of which name belongs to which object in memory.

In [135]:
def greet():
    message = "Hi, welcome" #message is local variable here, can be accessed in side the function only
    print(message)

In [137]:
greet()

Hi, welcome

In [139]:
message #its local so showing error

NameError: name 'message' is not defined

In [141]:
rest = " to CC classes"
def greet():
    message = "Hi, welcome" + rest
     print(message)

In [143]:
greet()

Hi, welcome to CC classes

In [145]:
dsdrest # its global can be accessed inside and outside both

' to CC classes'

In [147]:
###**************** NESTED FUNCTION *********************

In [149]:
#nested function ->> function inside a function

def marks_subjects(**kwargs):
    marks = []
    for sub,mark in kwargs.items():
        marks.append(mark)
    return marks

In [151]:
marks_subjects(a=48,b=47,c=98)

[48, 47, 98]

In [153]:
#to sum up the marks
def marks_subjects(**kwargs):
    def total(marks):
        return sum(marks)
    marks = []
    for sub,mark in kwargs.items():
        marks.append(mark)
    return total(marks)

In [155]:
marks_subjects(a=40,b=47,c=98)

185

In [157]:
# best practice to keep the function outside
def total(marks):
        return sum(marks)

def marks_subjects(**kwargs):
    marks = []
    for sub,mark in kwargs.items():
        marks.append(mark)
    return total(marks)

marks_subjects(a=40,b=47,c=98)

In [160]:
#function act like a datatype, you can delete as well using deln
del func

In [162]:
#Returning of a function
def f():
    def g(a,b):
        return a+b
    return g

In [164]:
f() # this is the main function, g is local function inside main funtion

In [166]:
 f()(1,2)

3

In [168]:
#function as an argumnet
def f():
    print("Inside function f")
def g(a):
    print("Inside function g")
    return a()
print(g(f))

Inside function g
Inside function f
None

In [170]:
# doc string
def f_power(num,power):
     
    """ 
      this askndfqsd
       asdflkasdnfs
       sadfjksdnf
    """
    return num**power

In [172]:
help(f_power)

Help on function f_power in module __main__:

f_power(num, power)
    this askndfqsd
     asdflkasdnfs
     sadfjksdnf

In [174]:
print(f_power.__doc__)

      this askndfqsd
       asdflkasdnfs
       sadfjksdnf

In [ ]:
#Agenda
#map,reduce,filter,lamda,zip,recursion,iterator,generator,>>OOPS

In [184]:
#1. Lambda Fucntion -> A lambda function in python is a consie way to create anonymous function

In [186]:
def square(x):
    return x**2

In [188]:
square(3)

9

In [ ]:
#lamba, anonymous, short-hand function
#syntax
#lambda argument : expression

# a lambda fucntion can tale any no. of argument but can have only one expression

In [ ]:
#working of a lambda fucntion
#write a lambda function with a lambda key word
#whenever you create a lambda function >> a function object is created
#this function is assigned to a vairable
#whenever you call the variable with argumnets it get executed

In [198]:
sq_lambda = lambda x : x**2

In [200]:
sq_lambda(10)

100

In [206]:
# default argument in lambda fucntion
sq_lambda = lambda x=2 : x**2

In [204]:
sq_lambda()

4

In [208]:
#write a lambda fucntion to add to fucntion
sum_lambda = lambda a,b : a+b

In [210]:
sum_lambda(3,7)

10

In [214]:
#write a lambda function to know a number is even or odd
check = lambda a : "Even" if a%2 == 0 else 'Odd'

In [216]:
check(19)

'Odd'

In [218]:
is_even =  lambda a : a%2==0

In [222]:
is_even(3)

False

In [230]:
#you have to sort this using lambda function based on np of charector
a = ['career','craft','ds','ajay','vijay','sanjay','pinjay']
a.sort(key = lambda x : len(x))

In [232]:
a

['ds', 'ajay', 'craft', 'vijay', 'career', 'sanjay', 'pinjay']

In [236]:
sorted(a,key=lambda x : len(a))

['ds', 'ajay', 'craft', 'vijay', 'career', 'sanjay', 'pinjay']

In [238]:
# sorted() → returns new list.
# .sort() → changes the original list in place.

In [241]:
#Characterstic of a lambda function
#No name
#Lambda is a single line function
#not resuable
#no any return statement

#then why to use lambda function..
#sort hand function
#>> lambda function helps in writing higher order fucntion

In [245]:
#check if a substring is present in a string or not
s = 'careercraft'
sub = lambda x: 're' in x
sub(s)

True

In [251]:
sub('DataScience')

False

In [257]:
#>> lambda function helps in writing higher order fucntion
l = [1,2,3,4,5]

In [265]:
def cube(fun,l):
    out = []
    for i in l:
        out.append(fun(i))
    print(out)
cube(lambda x:x**3,l)

#it would have been more easy using map function

[1, 8, 27, 64, 125]

In [267]:
#when to use lambda function
#if the funtion is not going to be reused
#if the function is a helping fucntion for a bigger function

In [273]:
#MAP >> executes a specified function for each item in an iterator
#map(function,iterable)

l = [1,2,3,4,5]
fun = lambda x : x**3
list(map(fun,l))

[1, 8, 27, 64, 125]

In [277]:
#make another list with label odd and even corresponding to each of the number

l = [1,2,3,4,5]
fun = lambda x : 'Even' if x%2==0 else 'Odd'
list(map(fun,l))

['Odd', 'Even', 'Odd', 'Even', 'Odd']

In [282]:
#grades = ['A','B','C','D'] using map and lambda function make gpa
#out if grade, a>5,b>4,c>3,d>2
#words = ['Python','ajay'] capitalise the first letter of each word
#First_name = ['Tom','Adeline']
#last_name = ['Jerry',Waboo]
#combine firstname and last name

In [288]:
#grades = ['A','B','C','D'] using map and lambda function make gpa
#out if grade, a>5,b>4,c>3,d>2
grades = ['A','B','C','D']
fun = lambda x : {'A':5,'B':4,'C':3,'D':2}[x]
list(map(fun,grades))

[5, 4, 3, 2]

In [304]:
grades = ["A", "B", "C"]
list(map(lambda grade: 4 if grade == "A" else (3 if grade == "B" else 2), grades))

[4, 3, 2]

In [294]:
#words = ['python','ajay'] capitalise the first letter of each word
words = ['python','ajay']
fun = lambda x: x.capitalize()
list(map(fun,words))

['Python', 'Ajay']

In [300]:
#first_name = ['Tom','Adeline']
#last_name = ['Jerry',Waboo]
#combine firstname and last name

first_name = ['Tom','Adeline']
last_name = ['Jerry','Waboo']
lambda x,y : x.contcate(y)
list(map(lambda x,y : x+" "+y,first_name,last_name ))

['Tom Jerry', 'Adeline Waboo']

In [373]:
def add(x):
    return x+20

l =[1,2,3,4,45]
list(map(add,l))

[21, 22, 23, 24, 65]

In [341]:
#Reduce function..>> folding/decreasing (vip function)
# it is a process were you reduce a list of items to a single value(cumalative value)

# Apply a function of two arguments cumulatively to the items of a sequence
# or iterable, from left to right, so as to reduce the iterable to a single
# value.

#Reduce syntax
#reduce(function,iterable)

In [343]:
import functools

In [345]:
#((((1+2)+3)+4)+5)
lis = [1,2,3,4,5]
functools.reduce(lambda x,y : x+y,lis)

15

In [347]:
#reduce does not work with more than two argument >> becouse it goes out of range

In [349]:
#reduce does not work with empty
#yes it work with one value
lis = [1,2,3,4,5]
functools.reduce(lambda x,y : x+y,[1]) 

#assumption -> by default in addition the other element is 0 and multiplication 1

1

In [351]:
lis = [1,2,3,4,5]
functools.reduce(min,l)

3

In [355]:
words = ['career','craft','DS',]
functools.reduce(lambda x,y : x+' '+y,words)

'career craft DS'

In [371]:
def add(x,y):
    return x+y

l = [1,2,3,4]
functools.reduce(add,l)

10

In [357]:
#Filter >> it is used to filter elements from an iterable based on  some certain conditoin
#syntax >> filter(function, iterable)

In [359]:
l

[23, 39, 12, 3, 102, 11]

In [361]:
list(filter(lambda x: x%2==0,l))

[12, 102]

In [363]:
list(filter(lambda x: x%2!=0,l))

[23, 39, 3, 11]

In [365]:
s = ['Career','Craft','DS','Machine Learning']
list(filter(lambda x : len(x) >3,s))

['Career', 'Craft', 'Machine Learning']

In [367]:
def check_even(num):
    if num%2==0:
        return True
    return False

In [369]:
num = [1,2,3,4,5,6,7]
list(filter(check_even,num))

[2, 4, 6]

In [382]:
##.... Recursive function --> one example is fibonacci series..
#fibonacci puzzle was found in 12th century
# In the West, the Fibonacci sequence first appears in the book Liber Abaci (1202) 
# by Leonardo of Pisa, known as Fibonacci. Fibonacci considers the growth of an 
# idealized (biologically unrealistic) rabbit population, assuming that:

# a single newly born pair of rabbits (one male, one female) are put in a field;
# rabbits are able to mate at the age of one month so that at the end of 
# its second month a female can produce another pair of rabbits;
# rabbits never die and a mating pair always produces one new pair 
# (one male, one female) every month from the second month on.

#The puzzle that Fibonacci posed was: how many pairs will there be in one year?

In [384]:
#fibonacci series >> 0,1,1,2,3,5

In [386]:
# a fucntion try to call itself again and again until it is exhausted
#calling code again and again
#recursive function is actually replacement of loops but in industry loop is still
#preferred

In [398]:
#write a program to calculate nth fibonacci number
#using loop
def fibonacci(n):
    if n <= 0:
        return 'invalid no'
    elif n==1:
        return 0 #first no is zero
    elif n == 2: 
        return 1  #second no is 1

    a,b=0,1

    for i in range(2,n):
        a,b = b,(a+b)
    return b

In [400]:
fibonacci(100)

218922995834555169026

In [408]:
#nth fibonacci series using recursion
def gen_fib(n):
    if n <= 0:
        return 'invalid no'
    elif n==1:
        return 0 #first no is zero
    elif n == 2: 
        return 1  #second no is 1
    return gen_fib(n-1)+gen_fib(n-2)

In [410]:
gen_fib(5)

3

In [412]:
gen_fib(10)

34

In [424]:
gen_fib(40)

63245986

In [426]:
#in loops, the fibonacci calculation is 100th no is fast but as you used recurtion
#it became very slow
#because each time the fibonacci of one number is calculated multiple time

#time-space tradeoff
#memoization>> to reduce the time complexity we are ready for more space
#memoization stores previously computed numbers to avoid redundant calculation to make it faster

In [430]:
def gen_fib(n,memo = {}):
    if n <= 0:
        return 'invalid no'
    elif n==1:
        return 0 #first no is zero
    elif n == 2: 
        return 1  #second no is 1
    if n not in memo:
        memo[n] = gen_fib(n-1,memo)+gen_fib(n-2,memo)

    return memo[n]

In [432]:
gen_fib(100)

218922995834555169026

In [436]:
#using lambda fucntion you want to have fibonaccino
fib  = lambda n:n if n<=1 else fib(n-1) + fib(n-2)

[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [438]:
#Factorial using recurssion
#factorial of 0 is 1
#fact of 1 is 1
#fact 2 is 2*1
#fact of 3 is 3*2*1

In [440]:
def facto(n):
    if n<0 :
        return "Invalid"
    elif n==0:
        return 1
    else:
        return n*facto(n-1)

In [452]:
facto(13)

6227020800

In [460]:
#factorial using lambda function
fact_lam = lambda n : 0 if n<1 else n*facto(n-1)

In [462]:
fact_lam(13)

6227020800

In [464]:
#Multiplication normal loop
def multiply(a,b):
    result = 0
    for i in range(b):
        result = result + a
    print(result)

In [466]:
multiply(10,10)

100

In [471]:
#above multiplication can be converted to recursion with base condition 1
def multi(a,b):
    if b==1:
        return a
    else:
        return a+multi(a,b-1)

In [473]:
multi(10,2)

20

In [479]:
#to find some till nth num
def sum_till_nth(n):
    if n==1:
        return 1
    else:
        return n+sum_till_nth(n-1)

In [481]:
sum_till_nth(10)

55

In [491]:
#check if a string is palindorm using recusrion
def check_pal(string):
    if len(string) <= 1 :
        print("Palindrome")
    else:
        if string[0] == string[-1]:
            check_pal(string[1:-1]) # it calls string excluding first and last elemnt
        else:
            print('Not a valid palindrom')

In [493]:
check_pal('tat')

Palindrome

In [501]:
#Zip function >> combines two elements of two iterator together untill ine exhausts
#extra elemnt in any iterator will ignore
a=["Ram",'Shayam','Mohan']
b = ["stats","ML"]
list(zip(a,b))

[('Ram', 'stats'), ('Shayam', 'ML')]

In [506]:
#Enumerate function -> similar to zip but also gives index
for index,(name,sub) in enumerate(zip(a,b)):
    print(index,name,sub)

0 Ram stats
1 Shayam ML

In [508]:
l=["Ram",'Shayam','Mohan']
list(enumerate(l))

[(0, 'Ram'), (1, 'Shayam'), (2, 'Mohan')]

In [ ]:
#Interview Question
#what is use of map,lambda,reduce,filter,zip,enumerate
#what is recursion
#What is fibonacci series?